<div>
    <h2>
        <span>Precipitations</span>
        <button class="btn btn-primary float-right jh-create-entity create-precipitation" [routerLink]="['/', { outlets: { popup: ['precipitation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Precipitation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="precipitations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Type</span></th>
            <th><span>Value</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let precipitation of precipitations ;trackBy: trackId">
                <td><a [routerLink]="['../precipitation', precipitation.id ]">{{precipitation.id}}</a></td>
                <td>{{precipitation.type}}</td>
                <td>{{precipitation.value}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../precipitation', precipitation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'precipitation/'+ precipitation.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'precipitation/'+ precipitation.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
