
<div *ngIf="weatherRequirements">
    <h2><span>Weather Requirements</span> {{weatherRequirements.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Temperature Min</span></dt>
        <dd>
            <span>{{weatherRequirements.temperatureMin}}</span>
        </dd>
        <dt><span>Temperature Max</span></dt>
        <dd>
            <span>{{weatherRequirements.temperatureMax}}</span>
        </dd>
        <dt><span>Wind Speed Min</span></dt>
        <dd>
            <span>{{weatherRequirements.windSpeedMin}}</span>
        </dd>
        <dt><span>Wind Speed Max</span></dt>
        <dd>
            <span>{{weatherRequirements.windSpeedMax}}</span>
        </dd>
        <dt><span>Wind Angle Min</span></dt>
        <dd>
            <span>{{weatherRequirements.windAngleMin}}</span>
        </dd>
        <dt><span>Wind Angle Max</span></dt>
        <dd>
            <span>{{weatherRequirements.windAngleMax}}</span>
        </dd>
        <dt><span>Wave Height Min</span></dt>
        <dd>
            <span>{{weatherRequirements.waveHeightMin}}</span>
        </dd>
        <dt><span>Wave Height Max</span></dt>
        <dd>
            <span>{{weatherRequirements.waveHeightMax}}</span>
        </dd>
        <dt><span>Precipitation Type Max</span></dt>
        <dd>
            <span>{{weatherRequirements.precipitationTypeMax}}</span>
        </dd>
        <dt><span>Precipitation Type Min</span></dt>
        <dd>
            <span>{{weatherRequirements.precipitationTypeMin}}</span>
        </dd>
        <dt><span>Precipitation Value Max</span></dt>
        <dd>
            <span>{{weatherRequirements.precipitationValueMax}}</span>
        </dd>
        <dt><span>Precipitation Value Min</span></dt>
        <dd>
            <span>{{weatherRequirements.precipitationValueMin}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'weather-requirements/'+ weatherRequirements.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
