
<div *ngIf="weather">
    <h2><span>Weather</span> {{weather.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{weather.date | date:'medium'}}</span>
        </dd>
        <dt><span>Temperature</span></dt>
        <dd>
            <span>{{weather.temperature}}</span>
        </dd>
        <dt><span>Wind Speed</span></dt>
        <dd>
            <span>{{weather.windSpeed}}</span>
        </dd>
        <dt><span>Wind Angle</span></dt>
        <dd>
            <span>{{weather.windAngle}}</span>
        </dd>
        <dt><span>Wave Height</span></dt>
        <dd>
            <span>{{weather.waveHeight}}</span>
        </dd>
        <dt><span>Clouds</span></dt>
        <dd>
            <span>{{weather.clouds}}</span>
        </dd>
        <dt><span>Pressure</span></dt>
        <dd>
            <span>{{weather.pressure}}</span>
        </dd>
        <dt><span>Humidity</span></dt>
        <dd>
            <span>{{weather.humidity}}</span>
        </dd>
        <dt><span>Precipitation</span></dt>
        <dd>
            <div *ngIf="weather.precipitationId">
                <a [routerLink]="['/precipitation', weather.precipitationId]">{{weather.precipitationId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'weather/'+ weather.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
