<div>
    <h2>
        <span>Weathers</span>
        <button class="btn btn-primary float-right jh-create-entity create-weather" [routerLink]="['/', { outlets: { popup: ['weather-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Weather
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="weathers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Temperature</span></th>
            <th><span>Wind Speed</span></th>
            <th><span>Wind Angle</span></th>
            <th><span>Wave Height</span></th>
            <th><span>Clouds</span></th>
            <th><span>Pressure</span></th>
            <th><span>Humidity</span></th>
            <th><span>Precipitation</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let weather of weathers ;trackBy: trackId">
                <td><a [routerLink]="['../weather', weather.id ]">{{weather.id}}</a></td>
                <td>{{weather.date | date:'medium'}}</td>
                <td>{{weather.temperature}}</td>
                <td>{{weather.windSpeed}}</td>
                <td>{{weather.windAngle}}</td>
                <td>{{weather.waveHeight}}</td>
                <td>{{weather.clouds}}</td>
                <td>{{weather.pressure}}</td>
                <td>{{weather.humidity}}</td>
                <td>
                    <div *ngIf="weather.precipitationId">
                        <a [routerLink]="['../precipitation', weather.precipitationId  ]" >{{weather.precipitationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../weather', weather.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'weather/'+ weather.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'weather/'+ weather.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
