<div>
    <h2>
        <span>Places</span>
        <button class="btn btn-primary float-right jh-create-entity create-place" [routerLink]="['/', { outlets: { popup: ['place-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Place
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <!-- api maps include -->
    <div>
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
    <div class="table-responsive" *ngIf="places">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nom</span></th>
            <th><span>Latitude</span></th>
            <th><span>Longitude</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let place of places ;trackBy: trackId">
                <td><a [routerLink]="['../place', place.id ]">{{place.id}}</a></td>
                <td>{{place.nom}}</td>
                <td>{{place.latitude}}</td>
                <td>{{place.longitude}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../place', place.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'place/'+ place.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'place/'+ place.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
